<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AutoLotEntititesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Facultate\Medii de programare\Laboratoare\5\Balanovici_Cristina_Lab5\AutoLot.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>